{% block title %}Contact Us - Thank You{% endblock title %}
{% block content %}
      <h3>Thank you.</h3>
      <p>Your email was sent and I will get back to you as soon as I can.</p>
      <p>Return <a href="/emails">home</a></p>
{% endblock content %}
